!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title= "GoodLog: #{@config[:server_name]}"
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/goodlog.css", :rel => "stylesheet", :type => "text/css"}
  %body
    .background-image
    .container
      .navbar.navbar-inverse
        .navbar-inner
          %span.brand
            %i.icon-align-left
            GoodLog:
            = @config[:server_name]
          %ul.nav
            %li.dropdown
              %a.dropdown-toggle{:href => "#", :"data-toggle" => "dropdown"}
                2013
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "foo"}= "Whole year"
                %li
                  %a{:href => "foo"}= "January"
                %li
                  %a{:href => "foo"}= "February"
                %li
                  %a{:href => "foo"}= "March"
                %li
                  %a{:href => "foo"}= "April"
                %li
                  %a{:href => "foo"}= "May"
            %li
              %a{:href => "foo"}= "foo"
            %li
              %a{:href => "bar"}= "bar"
      %ul#hosts
      %script{:src => "//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js"}
      %script{:src => "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"}
      %script{:src => "//cdnjs.cloudflare.com/ajax/libs/d3/3.0.8/d3.min.js"}
      %script{:src => "js/bootstrap.min.js"}
      %script{:src => "data.js"}
      :javascript
        $(function() {
          /*
          raw: [
            {"hostname":"teralink.net","month":"5","year":"2013","requests":"515","bytes":"8288738"},
            {"hostname":"schlag13.de","month":"5","year":"2013","requests":"1","bytes":"355"},
            {"hostname":"213streams.com","month":"5","year":"2013","requests":"2","bytes":"1038"},
            {"hostname":"213things.com","month":"5","year":"2013","requests":"3","bytes":"1686"},
            {"hostname":"213tec.com","month":"5","year":"2013","requests":"7","bytes":"7485"},
            {"hostname":"teralink.net","month":"5","year":"2012","requests":"515","bytes":"8288738"},
            {"hostname":"teralink.net","month":"6","year":"2012","requests":"515","bytes":"8288738"},
            {"hostname":"schlag13.de","month":"5","year":"2012","requests":"1","bytes":"355"},
          ]

          by_year: {
            "2012": [
              {"hostname":"teralink.net","requests":"515","bytes":"8288738"},
              {"hostname":"schlag13.de","requests":"1","bytes":"355"},
            ],
            "2013: [
              {"hostname":"teralink.net","requests":"515","bytes":"8288738"},
              {"hostname":"schlag13.de","requests":"1","bytes":"355"},
              {"hostname":"213streams.com","requests":"2","bytes":"1038"},
              {"hostname":"213things.com","requests":"3","bytes":"1686"},
              {"hostname":"213tec.com","requests":"7","bytes":"7485"},
            ],
          }
          */

          var assoc = function(obj, key, value) {
            obj = obj || {};
            obj[key] = value;
            return obj;
          }

          var trafficByYearRaw = _(GoodLog.trafficRaw).groupBy("year");
          GoodLog.trafficByYear = {};
          for (var year in trafficByYearRaw) {
            GoodLog.trafficByYear[year] = _(trafficByYearRaw[year]).reduce(function(memo, host) {
              return _(memo).extend(memo[host.hostname] ? assoc({}, host.hostname, { requests: memo[host.hostname].requests + host.requests, bytes: memo[host.hostname].bytes + host.bytes }) :
                assoc({}, host.hostname, { requests: host.requests, bytes: host.bytes })); },
              {});
          }

          _(_(GoodLog.trafficRaw).sortBy("hostname")).each(function(host) {
            $('#hosts').append('<li>' + host.hostname + ': ' + host.bytes + '</li>');
          });

          var margin = {top: 30, right: 10, bottom: 10, left: 200},
              width = 960 - margin.left - margin.right,
              height = 800 - margin.top - margin.bottom;

          var x = d3.scale.linear()
              .domain([0, 2500000000])
              .range([0, width]);

          var y = d3.scale.ordinal()
              .rangeRoundBands([0, height], .2);

          var xAxis = d3.svg.axis()
              .scale(x)
              .orient("top");

          var yAxis = d3.svg.axis()
              .orient("left");

          var svg = d3.select(".container").append("svg")
              .attr("width", width + margin.left + margin.right)
              .attr("height", height + margin.top + margin.bottom)
            .append("g")
              .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

          var data = GoodLog.trafficRaw;

          // x.domain(d3.extent(data, function(d) { return d.bytes; })).nice();
          y.domain(data.map(function(d) { return d.hostname; }));

          var bars = svg.selectAll(".bar")
            .data(data);

          bars.enter().append("rect")
              .attr("class", function(d) { return d.bytes < 0 ? "bar negative" : "bar positive"; })
              .attr("x", function(d) { return x(0); })
              .attr("y", function(d) { return y(d.hostname); })
              .attr("width", function(d) { return Math.abs(x(d.bytes) - x(0)); })
              .attr("height", y.rangeBand());

          bars.enter().append("text")
              .attr("class", "label")
              .attr("x", -3)
              // .attr("y", y.rangeBand() / 2)
              .attr("y", function(d) { return y(d.hostname); })
              .attr("dy", ".75em")
              .attr("text-anchor", "end")
              .text(function(d) { return d.hostname; });

          svg.append("g")
              .attr("class", "x axis")
              .call(xAxis);

          svg.append("g")
              .attr("class", "y axis")
            .append("line")
              .attr("x1", x(0))
              .attr("x2", x(0))
              .attr("y2", height);

          /*
          function type(d) {
            d.bytes = +d.bytes;
            return d;
          }
          */
        });
