!!! 5
%html
  %head
    %title= "goodlog"
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}
  %body
    .container
      .navbar.navbar-inverse
        .navbar-inner
          %span.brand= "GoodLog"
          %ul.nav
            %li
              %a{:href => "foo"}= "foo"
            %li
              %a{:href => "bar"}= "bar"
      %h1= "goodlog traffic"
      -# by month => select
      -# by year => select
      %ul#hosts
      %script{:src => "//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js"}
      %script{:src => "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"}
      %script{:src => "js/bootstrap.min.js"}
      %script{:src => "data.js"}
      :javascript
        $(function() {
          _(_(traffic).sortBy("hostname")).each(function(host) {
            $('#hosts').append('<li>' + host.hostname + ': ' + host.bytes + '</li>');
          });
        });
